html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eeeeee;
  height: 100vh;
}

.App {
  background-color: #eeeeee;
  color: #0d1d2c;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "" Lucida Sans ", " Lucida Sans Regular ", " Lucida Grande ",\a   " Lucida Sans Unicode ", Geneva, Verdana, sans-serif";
}

.navbar {
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header h2 {
  margin: 1em 0 1em 0;
  color: #343434;
  font-weight: bold;
  font-family: "Ultra", sans-serif;
  font-size: 36px;
  line-height: 25px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}

.expense {
  width: 40%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

.expenseIncome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expens-section,
.income-section {
  padding: 10%;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.expens-section {
  border-color: red;
}

.income-section {
  border-color: green;
}

.form-transactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-transactions .form-input {
  padding: 15px;
  border: 2px solid #ccc;
  visibility: none;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: medium;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-transactions .form-input:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 10px #719ece;
          box-shadow: 0 0 10px #719ece;
  border: 2px solid #17528a;
}

.form-transactions .form-input[type="number"]::-webkit-inner-spin-button,
.form-transactions .form-input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-transactions .control-label {
  margin: 0 0 9px 5px;
}

.form-transactions .form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px 0px 19px 0px;
  font-size: 20px;
}

.form-transactions .form-radio input {
  cursor: pointer;
  padding: 10px;
}

.form-transactions h2 {
  margin: 0;
}

.transactions-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.Ex {
  border: 1px solid red;
}

.In {
  border: 1px solid green;
}

.transactions-first-section {
  margin-top: 2rem;
}

.fillter-input {
  padding: 10px;
  border: 2px solid #ccc;
  visibility: none;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: medium;
}

.search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search-input label {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  margin-left: 10px;
}

.search-input input {
  outline: none !important;
}

.search-input input:focus {
  -webkit-box-shadow: 0 0 10px #719ece;
          box-shadow: 0 0 10px #719ece;
  border: 2px solid #013661;
}

.search-input input:hover {
  -webkit-box-shadow: 0 0 10px #a7b2be;
          box-shadow: 0 0 10px #a7b2be;
}
/*# sourceMappingURL=App.css.map */